<h3>Latest posts is here!</h3>
<br>
<% @results.each do |post| %>
    
    <%= post['created_date'] %>
    <br><br>
    <p>Author: <%= post['user'] %> </p>
    <p> <%= post['content'] %> </p>
    <br />
    <a href="/post/<%= post['id'] %>">Comments</a>
    <hr />
    
<% end %>