<h2>Add new post</h2>
<p>
    New post will be here
</p>
<form action="/new" method="post" role="form">
  <label for="name">Your name</label>
  <input name="user" class="form-control" placeholder="Your nickname">
  <label for="content">Post message</label>
  <textarea name="content" class="form-control" rows="6" placeholder="Type your text here"></textarea>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
